SECRET_KEY=your-secret-key-here
DEBUG=False
ALLOWED_HOSTS=.vercel.app,.onrender.com,localhost,127.0.0.1
DATABASE_URL=postgresql://user:password@ep-xxxx.us-east-2.aws.neon.tech/dbname?sslmode=require
DB_NAME=webog
DB_USER=postgres
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432
